
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Candara";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url('../images/bg1.jpg');
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 75px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-family: "Cambria";
}

.top-wrapper p {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: lighter;
}

.scroll {
  background-color: rgb(214, 214, 214);
  margin: 200px 0;
}


.btn {
  padding: 20px 34px;
  color: rgb(0, 0, 0);
  display: inline-block;
  opacity: 0.5;
  border-radius: 4px;
  text-align: center;
  font-size: 25px;
  font-style: bold;
  font-family: "Courier New";
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #425e70;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 110px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: rgb(246, 249, 255);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgb(226, 226, 226);
}

span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  .heading h1 {
    font-weight: normal;
    text-align: center;
    font-weight: bold;
  }
.lesson{
float:left;
weight:25%;
}
.lesson-icon{
position:relative;
}
.lesson-icon img{
width:285px;
height:150px;
padding-bottom: 40px;
}
.text p{
  text-align:center;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
}
.heading {
padding-top: 40px;
padding-bottom: 40px;
color: #5f5d60;
}
.lesson-wrapper {
padding-left: 5%;
padding-right: 5%;
background-color: #f9f7fd;
}
.card-item{
padding-top: 40px;
padding-left: 5%;
padding-right: 5%;
background-color: #f9f7fd;
width: 100%;
}
.card{
float: left;
width: 33%;
}
.card img{
width:400px;
height:250px;
padding-top: 20px;
}
.card h3{
padding-top: 30px;
padding-bottom: 30px;
text-align: center;
}

button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: rgb(94, 109, 93);
background-color: rgb(146, 185, 110);
text-align: center;
cursor: pointer;
width: 50%;
font-size: 18px;
margin-left: 100px;
}
button:hover {
opacity: 0.9;
}
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 90px;

}

.footer-left {
	padding-top:20px;
  font-size: 32px;
  padding-left:20px;
}
.footer-right{
	float:left;
	padding-right:20px;
	font-size:18px;
}
.footer-list {
  float: left;
  padding-top: 0;
  padding bottom:0;
  padding-right:20px;
}

.footer-list li {
  padding-bottom: 2px;
}

