
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Candara";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url('../images/bg1.jpg');
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  font-family: cursive;
}
.top-wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  font-family: cursive;
  animation: slide 6s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f3eaea;
  border-left: 2px solid #f3eaea;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.top-wrapper p {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: lighter;
}

.scroll {
  background-color: rgb(214, 214, 214);
  margin: 200px 0;
}


.btn {
  padding: 20px 34px;
  color: rgb(0, 0, 0);
  display: inline-block;
  opacity: 0.5;
  border-radius: 4px;
  text-align: center;
  font-size: 25px;
  font-style: bold;
  font-family: "Courier New";
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #310725;
  color: blanchedalmond;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 110px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: rgb(246, 249, 255);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgb(226, 226, 226);
}

span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  .heading h1 {
    font-weight: normal;
    text-align: center;
    font-weight: bold;
  }

  .lesson{
float:left;
width:25%;
}

.lesson-icon{
position:relative;
}
.lesson-icon img{
width:285px;
height:150px;
padding-bottom: 20px;
}
.text p{
  text-align:center;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
}
.heading {
padding-top: 40px;
padding-bottom: 40px;
color: #5f5d60;
}
.lesson-wrapper {
padding-left: 5%;
padding-right: 5%;
background-color: #f9f7fd;
}
.message-wrapper {
  padding-bottom: 30%;
  text-align: center;
  padding-top: 20px;
}
.card-item{
padding-top: 40px;
padding-left: 5%;
padding-right: 5%;
background-color: #f9f7fd;
width: 100%;
}
.card{
float: left;
width: 33%;
}
.card img{
width:380px;
height:250px;
padding-top: 20px;
}
.card h3{
padding-top: 30px;
padding-bottom: 30px;
text-align: center;
}

button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: rgb(94, 109, 93);
background-color: rgb(146, 185, 110);
text-align: center;
cursor: pointer;
width: 50%;
font-size: 18px;
}
button:hover {
opacity: 0.9;
}

footer {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #310725;
}

.cpr {
  text-align: center;
  color: #7A7A7A;
  font: 10px Roboto, sans-serif;
  margin-top: 15px;
}